.chatText {
    display: flex;
    justify-content: end;
    gap: 5px;
    background-color: #ffe3ff;
    border-radius: 12px;
    padding: 5px;
}

.timestamp {
    font-size: 12px;
    color: #887f7f;
    display: flex;
    align-items: end;
}

.chatTextContainer {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 12px;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.chatTextBoxContainer {
    overflow-y: auto;
}

.chatTextBoxContainer::-webkit-scrollbar {
    display: none;
}
